* {
    margin: 0;
    padding: 0;
}

    body {
    height: 1080px;
}

#page-container {
    height: 100%;
    width: 100%;
}

#top-container {
    height: 15%;
    width: 100%;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

#blue-panel {
    width: 100%;
    height:65%;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#logo-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#title-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#logout-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#light-stripe {
    width: 100%;
    height:3%;
    /* background-color: lightblue; */
    background-color: teal;
}

#global-menu-outer-container {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

#global-menu-left-pad {
    width: 0.5%;
    height: 100%;
}

#global-menu-inner-container {
    width: 54.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#global-menu-right-pad {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}

#center-container {
    height: 77%;
    width: 100%;
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#bottom-container {
    height: 2%;
    width: 100%;
    background-color: grey;
    margin-top: 10px;
}

#left-padding-container {
    height: 100%;
    width: 5%;
    /* background-color: #d9d9d9; */
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
}

#side-menu-container {
    height: 100%;
    width: 95%;
    background-color: #d9d9d9;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.side-menu-button {
    width: 100%;
    height: 10%;
    /* border: #1f2937;
    border-width: 1px;
    border-style: solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #747474;
}

.side-menu-button:hover {
    background-color: #999999;
  }

#vertical-border {
    height: 100%;
    width: 5%;
    background-color: white;
}

#right-vertical-border {
    height: 100%;
    width: 15%;
    background-color: white;
}

#right-padding-container {
    height: 100%;
    width: 2%;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

#outer-content-container {
    height: 100%;
    width: 93%;
    /* background-color: darkgrey; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
}

#contextual-menu-container {
    width: 100%;
    height: 5%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    border-radius: 5px 5px 0px 0px;
}

#column-header-container {
    width: 85%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

#inner-content-container {
    width: 100%;
    height: 95%;
    margin: auto;
    /* background-color: lightgrey; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

.global-menu-button {
    width: 16.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    /* color: #747474; */
    color: black;
}

.global-menu-button:hover {
    background-color: #999999;
  }

.column-header {
    width: 100%;
    height: 40px;
    margin-right: 2px;
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.list-object-container {
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.shownElementsContainer {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.hiddenElementsContainer {
    width: 100%;
    height: 0px;
    background-color: #ababab;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.columnContainer {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.column-item {
    width: 10%;
    height: 100%;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.jobButtonContainer {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.expandButton {
    width: 50%;
    height: 100%;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.collapseButton {
    width: 50%;
    height: 100%;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.openButton {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.jobButtonText {
    font-family: sans-serif;
}